@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :focus,
a :active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  font-weight: 500;
}

html {
  height: 100%;
}

body {
  color: #01000D;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#overlay {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#overlay.transparent {
  background-color: transparent;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 2s infinite;
}

.shake {
  animation: shake 0.5s;
}

.breadcrumbs {
  font-size: 0.875rem;
  line-height: 1.2;
  margin-bottom: 8px;
}

.breadcrumb {
  color: #40404A;
  text-transform: capitalize;
}
.breadcrumb:hover {
  color: #01000D;
}

.breadcrumb.last {
  color: #01000D;
  cursor: auto;
}

.breadcrumb.book-name {
  text-transform: none;
}

.divider {
  width: 100%;
  height: 0.8px;
  background-color: #E6E6E7;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.25rem;
}
.logo img {
  margin-right: 4px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid #E6E6E7;
}
.header .logo {
  margin-right: 2em;
}

.header.unauth .header-nav {
  justify-content: right;
}
.header.unauth .header-nav a {
  margin-right: 1.75em;
}
.header.unauth .header-nav a:last-child {
  margin-right: 0;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-nav a {
  font-size: 0.875rem;
  line-height: 1.2;
  color: #40404A;
}
.header-nav a.active {
  color: #01000D;
  font-weight: 500;
}

.header-nav-left a {
  margin-right: 1.75em;
}
.header-nav-left a:last-child {
  margin-right: 0;
}

.header-nav-profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
}

.header-nav-profile-link {
  margin-right: 8px;
}

.header-nav-profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-profile-button:hover .header-nav-profile-button-arrow, .header-nav-profile-button:active .header-nav-profile-button-arrow, .header-nav-profile-button:focus .header-nav-profile-button-arrow {
  filter: brightness(0%) invert(2%) sepia(69%) saturate(2473%) hue-rotate(254deg) brightness(120%) contrast(114%);
}

.header-nav-profile-button-arrow {
  height: 8px;
  width: 8px;
  filter: brightness(0%) invert(25%) sepia(7%) saturate(861%) hue-rotate(202deg) brightness(87%) contrast(89%);
}

.header-avatar {
  width: 1.5em;
  border: 1px solid #007BD0;
  border-radius: 100%;
  margin-right: 0.25em;
}
.header-avatar:hover {
  filter: brightness(0.9);
}

.header-nav-profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 7em;
  border: 1px solid #E6E6E7;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 4px;
  background-color: #fff;
  z-index: 999;
  padding: 0.25em 0;
}

.header-nav-profile-dropdown-option {
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-profile-dropdown-option img {
  filter: brightness(0%) invert(25%) sepia(7%) saturate(861%) hue-rotate(202deg) brightness(87%) contrast(89%);
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.header-nav-profile-dropdown-option:hover {
  background-color: rgba(242, 242, 243, 0.5);
}

.forgot-password-button {
  text-align: left;
  margin-top: -1em;
  color: #808086;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
}
.forgot-password-button:hover, .forgot-password-button:active, .forgot-password-button:focus {
  color: #40404A;
}

.login, .signup, .verification {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login h3, .signup h3, .verification h3 {
  margin-bottom: 1.5em;
}

.verification {
  padding-top: 5em;
}
.verification h3 {
  margin-bottom: 0.25em;
}
.verification p {
  font-size: 1rem;
  line-height: 1.5;
  color: #40404A;
  margin-bottom: 1.5em;
}

.verification-image {
  margin-bottom: 0.5em;
}
.verification-image img {
  width: 16em;
}

.verification-verify-button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 6px 24px;
}

.verification-inputs {
  display: flex;
  margin-bottom: 0.5em;
}

.verification-input {
  font-size: 1.5rem;
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid #BFBFC3;
  border-radius: 4px;
  margin-right: 0.5em;
}
.verification-input:hover {
  border: 1px solid #808086;
}
.verification-input:focus {
  border: 1px solid #007BD0;
}
.verification-input:active {
  border: 1px solid #007BD0;
}
.verification-input:disabled {
  background-color: #F2F2F3;
  border: 1px solid #E6E6E7;
}
.verification-input:last-child {
  margin-right: 0;
}

.verification-inputs.success .verification-input {
  border: 2px solid #20bf6b;
}

.verification-input.error {
  border: 1px solid #F9455A;
}

.verification-error {
  color: #F9455A;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: -2em 0 1.5em 0;
}

.verification-resend {
  margin-bottom: 2em;
  color: #808086;
  text-align: center;
}
.verification-resend button {
  color: #40404A;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
.verification-resend button:hover, .verification-resend button:active, .verification-resend button:focus {
  color: #01000D;
}
.verification-resend button:disabled {
  color: #808086;
}

.verification-resend-timer {
  font-size: 0.875rem;
  line-height: 1.5;
}
.verification-resend-timer .time {
  color: #007BD0;
}

.data-empty {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #40404A;
  margin-top: 1em;
  text-align: center;
}

.library, .book, .review, .profile, .main {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding: 2em 4em;
}
.library h3, .book h3, .review h3, .profile h3, .main h3 {
  margin-bottom: 0.5em;
}

.main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-image {
  margin-bottom: 1em;
}
.main-image img {
  width: 24em;
}

.main-heading {
  margin-bottom: 0.2em;
}

.main-subheading {
  font-size: 1rem;
  line-height: 1.5;
  color: #40404A;
  margin-bottom: 2.75em;
  max-width: 50em;
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-buttons .button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 8px 24px;
  margin-right: 1em;
}
.main-buttons .button:last-child {
  margin-right: 0;
}

.book h3 {
  margin-bottom: 0.5em;
}

.library-toolbar, .review-toolbar {
  padding: 12px 0;
  border-top: 1px solid #E6E6E7;
  border-bottom: 1px solid #E6E6E7;
  display: flex;
  justify-content: space-between;
}
.library-toolbar .button, .review-toolbar .button {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 6px 16px;
}

.review-toolbar {
  margin-bottom: 1em;
}

.review-tabs {
  border-top: 1px solid #E6E6E7;
  padding: 1em 0;
}

.review-tab {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #808086;
}
.review-tab:first-child {
  margin-right: 1em;
}
.review-tab:hover {
  color: #40404A;
}

.review-tab.selected {
  color: #007BD0;
}

.filters {
  display: flex;
}

.status-filter {
  margin-right: 1em;
}

.filter {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
  border: 1px solid #E6E6E7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 8px;
  position: relative;
  margin-right: 1em;
}
.filter:last-child {
  margin-right: 0;
}

.filter-name {
  margin-right: 0.75em;
  color: #808086;
}

.filter-selected {
  display: flex;
  align-items: center;
}

.filter-arrow {
  filter: brightness(0%) invert(55%) sepia(6%) saturate(277%) hue-rotate(202deg) brightness(90%) contrast(88%);
  height: 8px;
  width: 8px;
}

.filter-selected-name {
  margin-right: 0.35em;
  color: #007BD0;
}

.filter-selected-name.all {
  color: #01000D;
}

.chart.doughnut-chart {
  max-width: 380px;
}

.chart.bar-chart {
  max-width: 520px;
}

.filter-dropdown {
  min-width: 20em;
  max-width: 100%;
  position: absolute;
  background-color: #fff;
  border: 1px solid #E6E6E7;
  z-index: 999;
  border-radius: 8px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 0.75em 0;
  top: 100%;
  left: 0;
}

.filter-dropdown-options {
  font-size: 0.875rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.filter-dropdown-option {
  display: flex;
  align-items: center;
  padding: 0.35em 0.5em;
  cursor: pointer;
}
.filter-dropdown-option:hover {
  background-color: #F2F2F3;
}

.filter-dropdown-empty-option {
  padding: 0.35em 0.5em;
  align-items: center;
  color: #007BD0;
  font-size: 0.75rem;
  line-height: 1.5;
}

.filter-dropdown-option {
  text-transform: capitalize;
}
.filter-dropdown-option input {
  margin-right: 0.25em;
}

.filter-dropdown-actions {
  display: flex;
  text-align: center;
  padding: 0.25em 0.5em;
}

.filter-dropdown-action-button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #808086;
  margin-right: 0.75em;
}
.filter-dropdown-action-button:last-child {
  margin-right: 0;
}
.filter-dropdown-action-button:hover, .filter-dropdown-action-button:active {
  color: #40404A;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
}
.login-form .button, .signup-form .button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0.5em 1.5em;
  margin: 2em auto 0.75em auto;
}

.form-input, .form-select {
  width: 25em;
  border: 1px solid #E6E6E7;
  border-radius: 4px;
  padding: 0.65em;
  margin-bottom: 1.5em;
}
.form-input:hover, .form-select:hover {
  border: 1px solid #BFBFC3;
}
.form-input:focus, .form-select:focus {
  border: 1px solid #007BD0;
}
.form-input:active, .form-select:active {
  border: 1px solid #007BD0;
}
.form-input:disabled, .form-select:disabled {
  background-color: #F2F2F3;
  border: 1px solid #E6E6E7;
}

.form-label {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.form-auxiliary-link {
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #808086;
}
.form-auxiliary-link a {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 500;
}
.form-auxiliary-link a:hover, .form-auxiliary-link a:active {
  color: #40404A;
}

.form-error {
  color: #F9455A;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: -1.5em;
  margin: -1.5em 0 1.5em 0;
}

.form-submit-error {
  color: #F9455A;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  margin: -0.5em 0 0.5em 0;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  border-radius: 4px;
  padding: 2em 1em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 1px solid #E6E6E7;
}

.add-book-form-buttons {
  text-align: center;
}
.add-book-form-buttons .button {
  margin: 0 auto;
  padding: 6px 24px;
  margin-right: 0.5em;
}
.add-book-form-buttons .button:last-child {
  margin-right: 0;
}

.add-book-form-input {
  padding: 1em 0.65em;
  margin-bottom: 2em;
}

.add-book-form-input.error {
  animation: shake 0.5s;
  border: 1px solid #F9455A;
}

.add-book-form-error {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 500;
  color: #F9455A;
  text-align: center;
  margin-top: -2em;
  margin-bottom: 2em;
}

.add-book-form-label {
  text-align: center;
  color: #40404A;
  margin-bottom: 1em;
}

.book-property-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #E6E6E7;
  z-index: 999;
  border-radius: 8px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 50vw;
  max-width: 45em;
  padding: 2em;
}

.authors-form h5, .genres-form h5 {
  text-align: center;
  margin-bottom: 0.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #E6E6E7;
}
.authors-form h6, .genres-form h6 {
  color: #808086;
  margin-bottom: 0.5em;
}

.authors-form-chosen-list, .genres-form-chosen-list {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #E6E6E7;
}

.authors-form-author-chosen, .genres-form-genre-chosen {
  cursor: pointer;
  position: relative;
}
.authors-form-author-chosen:hover, .genres-form-genre-chosen:hover {
  filter: brightness(94%) saturate(110%);
  padding-right: 2em;
}
.authors-form-author-chosen:hover::before, .genres-form-genre-chosen:hover::before {
  font-size: 0.875rem;
  line-height: 1.5;
  content: "⨯";
  position: absolute;
  top: 0;
  right: 0.5em;
}

.authors-form-list, .genres-form-list {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #E6E6E7;
  max-height: 10em;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #BFBFC3 #F2F2F3;
}
.authors-form-list::-webkit-scrollbar, .genres-form-list::-webkit-scrollbar {
  width: 4px;
}
.authors-form-list::-webkit-scrollbar-track, .genres-form-list::-webkit-scrollbar-track {
  background-color: #F2F2F3;
}
.authors-form-list::-webkit-scrollbar-thumb, .genres-form-list::-webkit-scrollbar-thumb {
  background-color: #BFBFC3;
}

.authors-form-list-element, .genres-form-list-element {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
}
.authors-form-list-element:hover, .genres-form-list-element:hover {
  background-color: rgba(242, 242, 243, 0.75);
}
.authors-form-list-element:hover .authors-form-author-rename-input, .authors-form-list-element:hover .genres-form-genre-rename-input, .genres-form-list-element:hover .authors-form-author-rename-input, .genres-form-list-element:hover .genres-form-genre-rename-input {
  background-color: rgba(242, 242, 243, 0.75);
}

.authors-form-list-element-left, .authors-form-list-element-right, .genres-form-list-element-left, .genres-form-list-element-right {
  display: flex;
  align-items: center;
}

.authors-form-author-change-color-button, .authors-form-author-rename-button, .authors-form-author-delete-button,
.genres-form-genre-change-color-button, .genres-form-genre-rename-button, .genres-form-genre-delete-button {
  filter: brightness(0%) invert(55%) sepia(6%) saturate(277%) hue-rotate(202deg) brightness(90%) contrast(88%);
  width: 14px;
  height: 14px;
}
.authors-form-author-change-color-button:hover, .authors-form-author-change-color-button:focus, .authors-form-author-change-color-button:active, .authors-form-author-rename-button:hover, .authors-form-author-rename-button:focus, .authors-form-author-rename-button:active, .authors-form-author-delete-button:hover, .authors-form-author-delete-button:focus, .authors-form-author-delete-button:active,
.genres-form-genre-change-color-button:hover,
.genres-form-genre-change-color-button:focus,
.genres-form-genre-change-color-button:active, .genres-form-genre-rename-button:hover, .genres-form-genre-rename-button:focus, .genres-form-genre-rename-button:active, .genres-form-genre-delete-button:hover, .genres-form-genre-delete-button:focus, .genres-form-genre-delete-button:active {
  filter: brightness(0%) invert(25%) sepia(7%) saturate(861%) hue-rotate(202deg) brightness(87%) contrast(89%);
}

.authors-form-author-rename-button, .genres-form-genre-rename-button {
  margin-right: 8px;
}

.authors-form-author-delete-button, .genres-form-genre-delete-button {
  margin-right: 4px;
}

.authors-form-add-new-button, .genres-form-add-new-button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
  color: #808086;
  text-align: left;
  margin-bottom: 2.5em;
}
.authors-form-add-new-button b, .genres-form-add-new-button b {
  color: #BFBFC3;
  font-weight: 600;
}
.authors-form-add-new-button:hover b, .authors-form-add-new-button:focus b, .authors-form-add-new-button:focus b, .genres-form-add-new-button:hover b, .genres-form-add-new-button:focus b, .genres-form-add-new-button:focus b {
  color: #808086;
}

.authors-form-buttons button, .genres-form-buttons button {
  padding: 6px 24px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
}

.authors-form-save-button, .genres-form-save-button {
  margin-right: 0.5em;
}

.authors-form-add-new.editable, .genres-form-add-new.editable {
  margin-top: -0.5em;
}

.authors-form-add-new-buttons button, .genres-form-add-new-buttons button {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
}
.authors-form-add-new-buttons button:hover, .authors-form-add-new-buttons button:active, .genres-form-add-new-buttons button:hover, .genres-form-add-new-buttons button:active {
  color: #01000D;
}
.authors-form-add-new-buttons button:first-child, .genres-form-add-new-buttons button:first-child {
  margin-right: 0.75em;
}

.authors-form-add-new-input, .authors-form-author-rename-input, .genres-form-add-new-input, .genres-form-genre-rename-input {
  font-size: 0.75rem;
  line-height: 1.5;
  border-bottom: 1px solid #808086;
}

.button {
  background-color: #007BD0;
  color: #fff;
  border-radius: 4px;
}
.button a {
  color: #fff;
}
.button:hover, .button:focus {
  background-color: #0072c1;
}
.button:active {
  background-color: #006cb7;
}
.button:disabled {
  background-color: #E6E6E7;
  color: #BFBFC3;
}
.button:disabled a {
  color: #BFBFC3;
}

.button.empty {
  background-color: #fff;
  color: #808086;
  border: 1px solid #BFBFC3;
}
.button.empty a {
  color: #808086;
}
.button.empty:hover, .button.empty:focus {
  border: 1px solid #808086;
}
.button.empty:active {
  background-color: rgba(242, 242, 243, 0.5);
}
.button.empty:disabled {
  border: 1px solid #E6E6E7;
  background-color: #E6E6E7;
  color: #BFBFC3;
}
.button.empty:disabled a {
  color: #BFBFC3;
}

.button.red {
  background-color: #F9455A;
}
.button.red:hover, .button.red:focus {
  background-color: #f9364d;
}
.button.red:active {
  background-color: #f82c44;
}

.delete-button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #F9455A;
  border: 1px solid #F9455A;
  border-radius: 100px;
  padding: 8px 32px;
}
.delete-button:hover, .delete-button:focus {
  color: #d1071e;
  border: 1px solid #a00517;
}
.delete-button:active {
  background-color: #fff7f8;
}

.book-entries {
  display: flex;
  flex-direction: column;
}

.book-entry-left, .book-entry-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E7;
}
.book-entry:hover {
  background-color: rgba(242, 242, 243, 0.5);
}
.book-entry:active {
  background-color: rgba(242, 242, 243, 0.75);
}

.book-entry-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin-right: 1em;
}
.book-entry-img img {
  width: 16px;
}

.book-entry-name {
  font-weight: 600;
  color: #40404A;
}

.book-entry-year {
  margin-right: 16px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #40404A;
}

.status {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 500;
  border-radius: 100px;
  padding: 4px 12px;
  text-align: center;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.book-properties {
  margin-bottom: 2.5em;
}

.book-property {
  font-size: 1rem;
  line-height: 1.5;
  color: #40404A;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}

.book-property.summary {
  display: block;
}

.status.big {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: normal;
}

.book-author:first-of-type, .book-status:first-of-type, .book-finished-reading, .book-score, .book-genre:first-of-type {
  margin-left: 8px;
}

.book-author, .book-status, .book-name, .book-score, .book-summary, .book-finished-reading, .book-genre {
  cursor: pointer;
}

.author, .genre {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 500;
  border-radius: 100px;
  padding: 4px 12px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: capitalize;
  margin-right: 4px;
  user-select: none;
}
.author:last-of-type, .genre:last-of-type {
  margin-right: 0;
}

.author.big, .genre.big {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: normal;
}

.book-score {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  color: #01000D;
  display: flex;
  align-items: center;
}
.book-score img {
  margin-left: 4px;
}

.book-summary {
  font-size: 1rem;
  line-height: 1.5;
  color: #01000D;
  cursor: text;
  border-radius: 4px;
  display: block;
  max-width: 75%;
}
.book-summary:hover {
  background-color: rgba(242, 242, 243, 0.5);
}

.book-summary.editable {
  margin-top: 8px;
  padding: 8px 8px 24px 8px;
  border: 1px solid #E6E6E7;
  width: 100%;
}
.book-summary.editable:hover {
  background-color: transparent;
}

.book-property-dropdown {
  position: absolute;
  top: 100%;
  left: 5%;
  background-color: #fff;
  border: 1px solid #E6E6E7;
  z-index: 999;
  border-radius: 8px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.authors-form-dropdown, .genres-form-dropdown {
  padding: 0.5em 0;
  min-width: 30%;
  top: 50%;
  left: 62%;
}
.authors-form-dropdown h6, .genres-form-dropdown h6 {
  margin-bottom: 0.5em;
  padding: 0 0.5em 0.5em 0.5em;
  color: #40404A;
  border-bottom: 1px solid #E6E6E7;
}

.color-dropdown-options {
  max-height: 12em;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #BFBFC3 #F2F2F3;
}
.color-dropdown-options::-webkit-scrollbar {
  width: 4px;
}
.color-dropdown-options::-webkit-scrollbar-track {
  background-color: #F2F2F3;
}
.color-dropdown-options::-webkit-scrollbar-thumb {
  background-color: #BFBFC3;
}

.color-dropdown-option {
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.color-dropdown-option:hover {
  background-color: #F2F2F3;
}

.color-dropdown-option-color {
  width: 24px;
  height: 12px;
  border-radius: 2px;
  margin-right: 0.5em;
  filter: brightness(150%) saturate(70%);
}

.color-dropdown-option-name {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #40404A;
  text-transform: capitalize;
}

.status-dropdown-options {
  max-height: 80%;
}

.status-dropdown-option, .score-dropdown-option, .finished-reading-dropdown-option {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #40404A;
  padding: 0.85em 3em;
  text-align: center;
}
.status-dropdown-option:hover, .score-dropdown-option:hover, .finished-reading-dropdown-option:hover {
  background-color: #F2F2F3;
}

.score-dropdown-option, .finished-reading-dropdown-option {
  padding: 0.65em 3em;
}

.status-dropdown-option.selected, .score-dropdown-option.selected, .finished-reading-dropdown-option.selected, .color-dropdown-option.selected {
  background-color: #F2F2F3;
}

.score-dropdown, .finished-reading-dropdown {
  max-height: 12em;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #BFBFC3 #F2F2F3;
}
.score-dropdown::-webkit-scrollbar, .finished-reading-dropdown::-webkit-scrollbar {
  width: 4px;
}
.score-dropdown::-webkit-scrollbar-track, .finished-reading-dropdown::-webkit-scrollbar-track {
  background-color: #F2F2F3;
}
.score-dropdown::-webkit-scrollbar-thumb, .finished-reading-dropdown::-webkit-scrollbar-thumb {
  background-color: #BFBFC3;
}

.book-property-empty {
  font-weight: 500;
  cursor: pointer;
  color: #40404A;
  display: inline;
  margin-left: 8px;
}
.book-property-empty:hover, .book-property-empty:active {
  color: #808086;
}

.delete-warning {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 1px solid #E6E6E7;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 4px;
  text-align: center;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delete-warning h4 {
  margin-bottom: 0.5em;
}
.delete-warning img {
  filter: brightness(0%) invert(36%) sepia(88%) saturate(1527%) hue-rotate(327deg) brightness(98%) contrast(100%);
  width: 64px;
}
.delete-warning p {
  color: #40404A;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 2.5em;
  max-width: 85%;
}

.delete-warning-buttons .button {
  padding: 4px 18px;
  margin-right: 1em;
}
.delete-warning-buttons .button:last-child {
  margin-right: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  margin-bottom: 0.5em;
  position: relative;
}
.profile-avatar .avatar {
  width: 8em;
  cursor: pointer;
  display: block;
}
.profile-avatar .avatar:hover {
  filter: brightness(0.8);
}
.profile-avatar::after {
  cursor: pointer;
  content: "";
  background-image: url("./assets/pencil.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 50%;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #007BD0;
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: 999;
}

.profile-user {
  display: flex;
  align-items: center;
  margin-bottom: 2em !important;
}
.profile-user .username {
  margin-right: 0.35em;
}
.profile-user .flag {
  width: 0.75em;
}

.profile-info {
  display: flex;
  flex-direction: column;
}
.profile-info h5 {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1.5em;
}

.profile-input-label {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.25em;
  display: block;
}

.profile-input, .profile-select {
  width: 25em;
  border: 1px solid #E6E6E7;
  border-radius: 4px;
  padding: 0.65em;
  margin-bottom: 1.5em;
  color: #40404A;
}
.profile-input:hover, .profile-select:hover {
  border: 1px solid #BFBFC3;
}
.profile-input:focus, .profile-select:focus {
  border: 1px solid #007BD0;
}
.profile-input:active, .profile-select:active {
  border: 1px solid #007BD0;
}
.profile-input:disabled, .profile-select:disabled {
  background-color: #F2F2F3;
  border: 1px solid #E6E6E7;
}

.profile-delete-button {
  align-self: start;
  margin-top: 2em;
}

.profile-save-button {
  align-self: start;
  border-radius: 100px;
  padding: 8px 32px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5em;
}

.profile-info-error {
  color: #F9455A;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: -1.5em;
  margin: -1.5em 0 1.5em 0;
}

.profile-info-submit-error {
  color: #F9455A;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: -0.75em 0 0.5em 0;
}

.profile-info-password-updated-message {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #20bf6b;
  margin: -1.25em 0 1em 0;
}

.profile-avatars-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  border-radius: 4px;
  padding: 2em 1em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 1px solid #E6E6E7;
  padding: 1em 0;
}
.profile-avatars-form h5 {
  font-weight: 500;
  margin-bottom: 1em;
  text-align: center;
}

.profile-avatars-form-avatars {
  padding: 16px 1.5em 8px 1.5em;
  border-bottom: 1px solid #E6E6E7;
  border-top: 1px solid #E6E6E7;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 112px 112px 96px;
}
.profile-avatars-form-avatars .avatar {
  width: 96px;
  margin-bottom: 8px;
  border-radius: 100%;
  cursor: pointer;
}
.profile-avatars-form-avatars .avatar:hover {
  filter: brightness(0.8);
}
.profile-avatars-form-avatars .avatar.selected {
  border: 3px solid #007BD0;
}

.profile-avatars-form-buttons {
  text-align: center;
}
.profile-avatars-form-buttons .button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 auto;
  padding: 6px 24px;
  margin-right: 0.5em;
}
.profile-avatars-form-buttons .button:last-child {
  margin-right: 0;
}