//Book entry
.book-entries{
    display: flex;
    flex-direction: column;
}

.book-entry-left, .book-entry-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-entry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
    cursor: pointer;
    border-bottom: 1px solid $black-10;

    &:hover{
        background-color: $black-5-50;
    }

    &:active{
        background-color: $black-5-75;

    }
}


.book-entry-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-right: 1em;
    img{
        width: 16px;
    }
}

.book-entry-name{
    font-weight: 600;
    color: $black-75
}

.book-entry-year{
    margin-right: 16px;
    @include body-2;
    color: $black-75;
}

.status{
    @include body-3;
    @include medium;
    border-radius: 100px;
    padding: 4px 12px;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
}

//Book page
.book-properties{
    margin-bottom: 2.5em;
}

.book-property{
    @include body-1;
    color: $black-75;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}

.book-property.summary{
    display: block;
}



.status.big{
    @include body-2;
    font-weight: normal;
}

.book-author:first-of-type, .book-status:first-of-type, .book-finished-reading, .book-score, .book-genre:first-of-type{
    margin-left: 8px;
}
.book-author, .book-status, .book-name, .book-score, .book-summary, .book-finished-reading, .book-genre{
    cursor: pointer;
}

.author, .genre{
    @include body-3;
    @include medium;
    border-radius: 100px;
    padding: 4px 12px;
    text-align: center;
    user-select: none;
    text-transform: capitalize;
    margin-right: 4px;
    user-select: none;
    &:last-of-type{
        margin-right: 0;
    }
}

.author.big, .genre.big{
    @include body-2;
    font-weight: normal;
}


.book-finished-reading{

}

.book-score{
    user-select: none;
    @include body-1;
    color: $black;
    display: flex;
    align-items: center;
    img{
        margin-left: 4px;
    }
}

.book-summary{
    @include body-1;
    color: $black;
    cursor: text;
    border-radius: 4px;
    display: block;
    max-width: 75%;
    &:hover{
        background-color: $black-5-50;
    }
}

.book-summary.editable{
    margin-top: 8px;
    padding: 8px 8px 24px 8px;
    border: 1px solid $black-10;
    width: 100%;

    &:hover{
        background-color: transparent;
    }
}


.book-property-dropdown{
    position: absolute;
    top: 100%;
    left: 5%;
    background-color: $white;
    border: 1px solid $black-10;
    z-index: 999;
    border-radius: 8px;
    box-shadow: $shadow-main;
}

.authors-form-dropdown, .genres-form-dropdown{
    padding: 0.5em 0;
    min-width: 30%;
    top: 50%;
    left: 62%;
    h6{
        margin-bottom: .5em;
        padding: 0 .5em .5em .5em;
        color: $black-75;
        border-bottom: 1px solid $black-10;
    }
}

.color-dropdown-options{
    max-height: 12em;
    overflow-y: auto;
    @include scrollbar;
}

.color-dropdown-option{
    padding: .25em .5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: $black-5;
    }
}

.color-dropdown-option-color{
    width: 24px;
    height: 12px;
    border-radius: 2px;
    margin-right: .5em;
    filter: brightness(150%) saturate(70%);
}

.color-dropdown-option-name{
    @include body-3;
    color: $black-75;
    text-transform: capitalize;
}

.status-dropdown-options{
    max-height: 80%;
}

.status-dropdown-option, .score-dropdown-option, .finished-reading-dropdown-option{
    user-select: none;
    cursor: pointer;
    @include button-2;
    text-transform: capitalize;
    color: $black-75;
    padding: .85em 3em;
    text-align: center;
    &:hover{
        background-color: $black-5;
    }
}


.score-dropdown-option, .finished-reading-dropdown-option{
    padding: .65em 3em;

}

.status-dropdown-option.selected, .score-dropdown-option.selected, .finished-reading-dropdown-option.selected, .color-dropdown-option.selected{
    background-color: $black-5;
}

.score-dropdown, .finished-reading-dropdown{
    max-height: 12em;
    overflow-y: auto;
    
   @include scrollbar;
}

.book-property-empty{
    @include medium;
    cursor: pointer;
    color: $black-75;
    display: inline;
    margin-left: 8px;
    &:hover, &:active{
        color: $black-50;
    }
}