//------------------------------------------
//LIGHT
//------------------------------------------
//Neutrals
$black: #01000D;
$black-75: #40404A;
$black-50: #808086;
$black-25: #BFBFC3;
$black-10: #E6E6E7;
$black-5: #F2F2F3;
$white: #fff;
//Primary
$primary: #007BD0;
//Secondary
$red: #F9455A;

//Shadows
$shadow-main: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
