.login-form, .signup-form{
    display: flex;
    flex-direction: column;
    .button{
        @include button-1;
        padding: .5em 1.5em;
        margin: 2em auto .75em auto;
    }
}

.form-input{
    width: 25em;
    border: 1px solid $black-10;
    border-radius: 4px;
    padding: .65em;
    margin-bottom: 1.5em;
    &:hover{
        border: 1px solid $black-25;
    }
    &:focus{
        border: 1px solid $primary;
    }
    &:active{
        border: 1px solid $primary;
    }
    &:disabled{
        background-color: $black-5;
        border: 1px solid $black-10;
    }
}


.form-label{
    @include body-2;
    margin-bottom: .5em;
}

.form-auxiliary-link{
    margin: 0 auto;
    @include body-2;
    color: $black-50;
    a{
        @include link-2;
        @include medium;
    }
}

.form-error{
    color: $red;
    @include body-3;
    margin-top: -1.5em;
    margin: -1.5em 0 1.5em 0;
}

.form-submit-error{
    color: $red;
    @include body-2;
    text-align: center;
    margin: -.5em 0 .5em 0;
}

.add-book-form{
    display: flex;
    flex-direction: column;
    background-color: $white;
    position: absolute;
    border-radius: 4px;
    padding: 2em 1em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border: 1px solid $black-10;
    
    .button{
        margin: 0 auto;
        padding: 6px 24px;
    }
}

.add-book-form-input{
    padding: 1em .65em;
    margin-bottom: 2em;
}

.add-book-form-input.error{
    animation: shake 0.5s;
    border: 1px solid $red;
}
.add-book-form-error{
    @include body-3;
    @include medium;
    color: $red;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 2em;
}

.add-book-form-label{
    text-align: center;
    color: $black-75;
    margin-bottom: 1em;
}

.book-property-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border: 1px solid $black-10;
    z-index: 999;
    border-radius: 8px;
    box-shadow: $shadow-main;
    width: 50vw;
    max-width: 45em;
    padding: 2em;
}

.authors-form, .genres-form{
    h5{
        text-align: center;
        margin-bottom: .5em;
        padding-bottom: 1em;
        border-bottom: 1px solid $black-10;
    }
    h6{
        color: $black-50;
        margin-bottom: .5em;
    }
}

.authors-form-chosen-list, .genres-form-chosen-list{
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid $black-10;
}

.authors-form-author-chosen, .genres-form-genre-chosen {
    cursor: pointer;
    position: relative;
    &:hover{
        filter: brightness(94%) saturate(110%);
        padding-right: 2em;
        &::before{
            @include body-2;
            content: "⨯";
            position: absolute;
            top: 0;
            right: .5em; 
        }
    }
}


.authors-form-list, .genres-form-list{
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid $black-10;
    max-height: 10em;
    overflow-y: auto;
    @include scrollbar;
}

.authors-form-list-element, .genres-form-list-element{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em;
    &:hover{
        background-color: $black-5-75;
        .authors-form-author-rename-input, .genres-form-genre-rename-input{
            background-color: $black-5-75;
        }
    }
}

.authors-form-list-element-left, .authors-form-list-element-right, .genres-form-list-element-left, .genres-form-list-element-right{
    display: flex;
    align-items: center;
}

.authors-form-author-change-color-button, .authors-form-author-rename-button, .authors-form-author-delete-button,
.genres-form-genre-change-color-button, .genres-form-genre-rename-button, .genres-form-genre-delete-button{
    filter:$black-50-svg;
    width: 14px;
    height: 14px;
    &:hover, &:focus, &:active{
        filter: $black-75-svg;
    }
}

.authors-form-author-rename-button, .genres-form-genre-rename-button{
    margin-right: 8px;
}

.authors-form-author-delete-button, .genres-form-genre-delete-button{
    margin-right: 4px;
}

.authors-form-add-new-button,.genres-form-add-new-button {
    @include button-2;
    @include medium;
    color: $black-50;
    text-align: left;
    margin-bottom: 2.5em;
    b{
        color: $black-25;
        @include semibold;
    }
    &:hover, &:focus, &:focus{
        b{
            color: $black-50;
        }
    }
}

.authors-form-buttons,.genres-form-buttons{
    button{
        padding: 6px 24px;
        @include button-2;
    }
}

.authors-form-save-button, .genres-form-save-button {
    margin-right: .5em;
}

.authors-form-add-new.editable, .genres-form-add-new.editable{
    margin-top: -.5em;
}

.authors-form-add-new-buttons, .genres-form-add-new-buttons{
    button{
        @include button-3;
        &:hover, &:active{
            color: $black;
        }
    }
    button:first-child{
        margin-right: .75em;
    }
}
.authors-form-add-new-input, .authors-form-author-rename-input, .genres-form-add-new-input, .genres-form-genre-rename-input{
    @include body-3;
    border-bottom: 1px solid $black-50;
}
