//Reset
@import "reset";
//--------------------
//Colors
@import "colors";
//--------------------
//Typography
@import "typography";
//--------------------
@mixin scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $black-25 $black-5; 

  &::-webkit-scrollbar{
     width: 4px;
  }
  &::-webkit-scrollbar-track {
     background-color: $black-5;
   }
   &::-webkit-scrollbar-thumb {
     background-color: $black-25;
   }
}
//Styles
html {
  height: 100%;
}
body {
  color: $black;
  overflow-x: hidden;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#overlay{
  background-color: black;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(4px) }
  50% { transform: translateX(-4px) }
  75% { transform: translateX(4px) }
  100% { transform: translateX(0) }
 }
 
.shake{
  animation: shake 0.5s;
}

.breadcrumbs{
  @include link-2;
  color: $black-75;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.logo{
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.25rem;
  img{
    margin-right: 4px;
  }
}

.header{
  display: flex;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid $black-10;
  .logo{
    margin-right: 2em;
  }
}

.header-nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  a{
    @include link-2;
    color: $black-75;
  }

  a.active{
    color: $black;
    @include medium;
  }
}

.header-nav-left{
  a:first-child{
    margin-right: 1.75em;
  }
}

.login, .signup{
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3{
    margin-bottom: 1.5em;
  }
}

.library, .book, .review{
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding: 2em 4em;
  h3{
    margin-bottom: .5em;
  }
}

.book{
  h3{
    margin-bottom: 1em;
  }
}

.library-toolbar, .review-toolbar{
  padding: 12px 0;
  border-top: 1px solid $black-10;
  border-bottom: 1px solid $black-10;
  display: flex;
  justify-content: space-between;
  .button{
    @include button-3;
    padding: 6px 16px;
  }
}

.review-tabs{
  border-top: 1px solid $black-10;
  padding: 1em 0;
}

.review-tab{
  @include button-2;
  color: $black-50;
  &:first-child{
    margin-right: 1em;
  }
  &:hover{
    color: $black-75;
  }
}

.review-tab.selected{
  color: $primary;
}

.filters{
  display: flex;
}

.status-filter{
  margin-right: 1em;
}

.filter{
  @include button-3;
  border: 1px solid $black-10;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 8px;
  color: $black-50;
}

.review{
  
}

.chart.doughnut-chart{
  max-width: 360px;
}

.chart.bar-chart{
  max-width: 40%;
}

//--------------------
@import "forms";
@import "buttons";
@import "book";
//--------------------

//Media queries
@import "media";
//--------------------
