//Reset
@import "reset";
//--------------------
//Colors
@import "colors";
//--------------------
//Typography
@import "typography";
//--------------------
@mixin scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $black-25 $black-5; 

  &::-webkit-scrollbar{
     width: 4px;
  }
  &::-webkit-scrollbar-track {
     background-color: $black-5;
   }
   &::-webkit-scrollbar-thumb {
     background-color: $black-25;
   }
}
//Styles
html {
  height: 100%;
}
body {
  color: $black;
  overflow-x: hidden;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#overlay{
  background-color: black;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#overlay.transparent{
  background-color: transparent;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(4px) }
  50% { transform: translateX(-4px) }
  75% { transform: translateX(4px) }
  100% { transform: translateX(0) }
 }
 
.shake{
  animation: shake 0.5s;
}

.breadcrumbs{
  @include link-2;
  margin-bottom: 8px;
}
.breadcrumb{
  color: $black-75;
  text-transform: capitalize;
  &:hover{
    color: $black;
  }
}

.breadcrumb.last{
  color: $black;
  cursor: auto;
}
.breadcrumb.book-name{
  text-transform: none;
}

.logo{
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.25rem;
  img{
    margin-right: 4px;
  }
}

.header{
  display: flex;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid $black-10;
  .logo{
    margin-right: 2em;
  }
}

.header-nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  a{
    @include link-2;
    color: $black-75;
  }

  a.active{
    color: $black;
    @include medium;
  }
}

.header-nav-left{
  a:first-child{
    margin-right: 1.75em;
  }
}

.login, .signup{
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3{
    margin-bottom: 1.5em;
  }
}

.library, .book, .review, .profile{
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding: 2em 4em;
  h3{
    margin-bottom: .5em;
  }
}

.book{
  h3{
    margin-bottom: .5em;
  }
}

.library-toolbar, .review-toolbar{
  padding: 12px 0;
  border-top: 1px solid $black-10;
  border-bottom: 1px solid $black-10;
  display: flex;
  justify-content: space-between;
  .button{
    @include button-3;
    padding: 6px 16px;
  }
}

.review-toolbar{
  margin-bottom: 1em;
}

.review-tabs{
  border-top: 1px solid $black-10;
  padding: 1em 0;
}

.review-tab{
  @include button-2;
  color: $black-50;
  &:first-child{
    margin-right: 1em;
  }
  &:hover{
    color: $black-75;
  }
}

.review-tab.selected{
  color: $primary;
}

.filters{
  display: flex;
}

.status-filter{
  margin-right: 1em;
}

.filter{
  cursor: pointer;
  user-select: none;
  @include button-3;
  border: 1px solid $black-10;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 8px;
  position: relative;
  margin-right: 1em;
  &:last-child{
    margin-right: 0;
  }
}
.filter-name{
  margin-right: .75em;
  color: $black-50;

}
.filter-selected{
  display: flex;
  align-items: center;
}


.filter-arrow{
  filter: $black-50-svg;
  height: 8px;
  width: 8px;
}

.filter-selected-name{
  margin-right: .35em;
  color: $primary;
}

.filter-selected-name.all{
  color: $black;
}


.review{
  
}

.chart.doughnut-chart{
  max-width: 380px;
}

.chart.bar-chart{
  max-width: 520px;
}

.delete-button{
  @include button-2;
  color: $red;
  border: 1px solid $red;
  border-radius: 100px;
  padding: 8px 32px;
  &:hover, &:focus{
      color: darken($color: $red, $amount: 20%);
      border: 1px solid darken($color: $red, $amount: 30%);
  }
  &:active{
      background-color: lighten($color: $red, $amount: 36%);
  }
}

.filter-dropdown{
  min-width: 20em;
  max-width: 100%;
  position: absolute;
  background-color: $white;
  border: 1px solid $black-10;
  z-index: 999;
  border-radius: 8px;
  box-shadow: $shadow-main;
  padding: .75em 0;
  top: 100%;
  left: 0;
}

.filter-dropdown-options{
  @include body-2;
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

.filter-dropdown-option{
  display: flex;
  align-items: center;
  padding: .35em .5em;
  cursor: pointer;
  &:hover{
      background-color: $black-5;
  }
}

.filter-dropdown-option{
  text-transform: capitalize;
  input{
    margin-right: .25em;
  }
}
.filter-dropdown-actions{
  display: flex;
  text-align: center;
  padding: .25em .5em;
}
.filter-dropdown-action-button{
  @include button-2;
  color: $black-50;
  margin-right: .75em;
  &:last-child{
    margin-right: 0;
  }
  &:hover, &:active {
    color: $black-75;
  }
}

//--------------------
@import "forms";
@import "buttons";
@import "book";
//--------------------

//Media queries
@import "media";
//--------------------
